@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body * {
    font-family: 'Inter';
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}