.dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    &__loader{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__body{
        width: 60%;
        height: 600px;
        max-height: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px #00000020;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--avatar{
           display: none;
        }
        &__user-block{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__user-info{
            display: flex;
            justify-content: space-between;
            &--label{
                font-weight: 700;
                color: #3182CE;
            }
            &--value{
                font-weight: 400;
                color: #3182CE;
            }
        }
        &__footer{
            align-self: flex-end;
        }
    }
}

@media (max-width: 1400px) and (min-width: 501px) {
    .dashboard{
        height: 100%;
        &__body{
            width: 80%;
        }
    }   
}

@media (max-width: 500px) and (min-width: 300px) {
    .dashboard{
        height: 100%;
        align-items: end;
        &__body{
            width: 100%;
            border-radius: 8px 8px 0 0;
            &--avatar{
                display: block;
                background-color: #fff;
                padding: 5px;
                border-radius: 50%;
                position: absolute;
                top: -40px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    } 
}