.reg-block{
    width: 60%;
    height: 70%;
    max-height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #00000020;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}
.reg-form{
    width: 50%;
    &__loader{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__aside{
        background: url('../../shared/assets/back.svg');
        border-radius: 16px;
        width: 50%;
        padding-top: 100px;
        z-index: 2;
        &--text{
            color: #fff;
            background-color: #3182CE;
            text-align: center; 
            font-size: 40px;
            font-weight: 600;
            padding: 10px 30px;
            line-height: 1em;
        }
    }
    &__body{
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &--header{
            font-size: 30px;
            font-weight: 500;
            color: #1A365D;
        }
        &--input{
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #1A365D;
        }
        &--footer{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            &-text{
                color: #1A365D;
                font-weight: 500;
                button{
                    color:#3182CE;
                    border: 0;
                    background: none;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1400px) and (min-width: 1001px) {
    .reg-block{
        width: 80%;
        height: 80%;
    }
    .reg-form{
        &__aside{
            padding-top: 60px;
            &--text{
                font-size: 35px;
            }
        } 
        &__body{
            padding: 30px;
            &--header{
                font-size: 25px;
            }
        }
    }
}
@media (max-width: 1000px) and (min-width: 701px) {
    .reg-block{
        width: 80%;
        height: 80%;
    }
    .reg-form{
        &__aside{
            padding-top: 60px;
            &--text{
                font-size: 20px;
            }
        }
        &__body{
            gap: 15px;
            padding: 20px;
            &--header{
                font-size: 20px;
            }
            &--footer{
                &-text{
                    font-size: 14px;
                }
            }
        }
    }
}
@media (max-width: 700px) and (min-width: 501px) {
    .reg-block{
        width: 90%;
        height: 90%;
    }
    .reg-form{
        &__aside{
            padding-top: 60px;
            &--text{
                font-size: 20px;
            }
        }
        &__body{
            gap: 15px;
            padding: 20px;
            &--header{
                font-size: 20px;
            }
            &--footer{
                &-text{
                    font-size: 14px;
                }
            }
        }
    }
}
@media (max-width: 500px) and (min-width: 300px) {
    .reg-block{
        width: 100%;
        border-radius: 8px 8px 0 0;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
    }
    .reg-form{
        width: 100%;
        &__aside{
           display: none;
        }
        &__body{
            width: 100%;
            padding: 20px;
            &--header{
                font-size: 25px;
            }
            &--footer{
                &-text{
                    font-size: 14px;
                }
            }
        }
    }
}